*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: rgb(135, 170, 204);
}


#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
  
}

#header{
    height: 100px;
    background-color: rgb(47, 80, 230);
    color: white;
    text-align: center;
    line-height: 100px;
}